# When filtering based on IP address
## Single testing from Raspberry Pi
|Device|Success response count |
|-----|:--:|
|Raspberry Pi|781|

## Simultaneous on Mac and on Raspberry Pi
|Device|Success response count |
|-----|:--:|
|Raspberry Pi|744|
|Mac|979|

# When filtering based on AAD OID for rate limiting
## Single testing from Raspberry Pi
|Device|Success response count |
|-----|:--:|
|Raspberry Pi|734|

## Simultaneous on Mac and on Raspberry Pi
|Device|Success response count |
|-----|:--:|
|Raspberry Pi|471|
|Mac|582|

> Ran for much longer in Mac because of network latency